{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        {% block links %} 
        {% endblock %}
    </head>
    <body>
        <header>
            <a href="{% url 'core' %}">Головна</a>
            <a href="{% url 'ukr_book' %}"> Укр. Книжки</a>
            <a href="{% url 'zar_book' %}">Зар. Книжки</a>
            <a href="{% url 'ukr_author' %}">Укр. Автори</a>
            <a href="{% url 'zar_author' %}">Зар. Автори</a>
        </header>
        {% block content %}

        {% endblock %}
    </body>
</html>